.circle {
    position: absolute;
    border-top: solid #204051 0.5rem;
    border-radius: 100%;
}

.sattelite {
    top: 2rem;
    left: -4rem;
    width: 3rem;
    height: 3rem;
    position: absolute;
    border-top: solid #204051 0.5rem;
    border-radius: 100%;
}

.sattelite-1 {
    top: 2rem;
    left: -5rem;
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-top: solid #204051 0.5rem;
    border-radius: 100%;
    transform: rotate(180deg);
    animation: circle-animation 2.5s infinite;
}

.sattelite-2 {
    top: 2rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-top: solid #204051 0.5rem;
    border-radius: 100%;
    transform: rotate(180deg);
    animation: circle-animation 3.5s infinite;
}

.sattelite-3 {
    top: 6rem;
    left: -2rem;
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-top: solid #204051 0.5rem;
    border-radius: 100%;
    transform: rotate(180deg);
    animation: circle-animation 4s infinite reverse;
}

.circle-1 {
    width: 20rem;
    height: 20rem;
    top: -5rem;
    left: -10rem;
    transform: rotate(50deg);
    animation: circle-animation 2.5s infinite reverse;
}

.circle-2 {
    width: 18rem;
    height: 18rem;
    top: -4rem;
    left: -9rem;
    transform: rotate(100deg);
    animation: circle-animation 3.5s infinite;
}

.circle-3 {
    width: 16rem;
    height: 16rem;
    top: -3rem;
    left: -8rem;
    transform: rotate(150deg);
    animation: circle-animation 4s infinite reverse;
}

.circle-4 {
    width: 14rem;
    height: 14rem;
    top: -2rem;
    left: -7rem;
    transform: rotate(200deg);
    animation: circle-animation 5s infinite;
}

.circle-5 {
    width: 12rem;
    height: 12rem;
    top: -1rem;
    left: -6rem;
    transform: rotate(250deg);
    animation: circle-animation 6s infinite reverse;
}

@keyframes circle-animation {
    0% {
        transform: rotate(-72deg);
    }
    20% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(144deg);
    }
    60% {
        transform: rotate(-144deg);
    }
    80% {
        transform: rotate(72deg);
    }
    100% {
        transform: rotate(-72deg);
    }
}
